:root {
    --bg-color:#f4f5f4;
    --color-darkgreen:#1d4c56;
    --color-lightgreen:#45bc97;
    --color-badge:#96b099;
    --color-brown:#b4ab48;
    --color-darkbrown: #88600e;
    --color-lightbrown: #d1d092;
    --color-grey: #c0cec8;
    --color-blue:#3a88c8;
    --color-lightpink:#bca794;
    --color-black:#000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header {
    background-image: url(./assets//bg-light.svg);
    height: 100vh;
}
header nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem ;
    gap:3rem;
}
.nav-logo-link-wrapper {
    display: flex;
    gap: 12rem;
    padding:0px ;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100px;
} 

.link{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    
}

.link li {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link li a{
    font-size: 15px;
    text-decoration: none;
    color:var(--bg-color);
    font-weight: 500;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 4px  12px;
}

.nav-button-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.contact-sales-btn {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 4.5px 12px;
  border-radius: 9999px; 
  border: 1px solid transparent;
  background-color: rgba(244, 244, 244, 0.104);
  color: var(--bg-color);
}

.start-for-free-btn {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 4.5px 12px;
  border-radius: 9999px; 
  border: 1px solid transparent;
  background-color: var(--bg-color);
  color: var(--color-black);
}
