:root {
    --bg-color:#f4f5f4;
    --color-darkgreen:#1d4c56;
    --color-lightgreen:#45bc97;
    --color-badge:#96b099;
    --color-brown:#b4ab48;
    --color-darkbrown: #88600e;
    --color-lightbrown: #d1d092;
    --color-grey: #c0cec8;
    --color-blue:#3a88c8;
    --color-lightpink:#bca794;
    --color-black:#000;

    --text-white:#f4f5f4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


header {
    background-image: url(./assets//bg-light.svg);
    height: 100vh;
}
/*-----------Navbar Stars----- */
header nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem ;
    gap:3rem;
}
.nav-logo-link-wrapper {
    display: flex;
    gap: 12rem;
    padding:0px ;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100px;
} 

.link{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    
}

.link li {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link li a{
    font-size: 15px;
    text-decoration: none;
    color:var(--text-white);
    font-weight: 500;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 4px  12px;
}

.nav-button-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.contact-sales-btn {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 4.5px 12px;
  border-radius: 9999px; 
  border: 1px solid transparent;
  background-color: rgba(244, 244, 244, 0.104);
  color: var(--text-white);
}

.start-for-free-btn {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 4.5px 12px;
  border-radius: 9999px; 
  border: 1px solid transparent;
  background-color: var(--bg-color);
  color: var(--color-black);
}

/* -------Navbar ends--------- */

/* ------------Hero section starts--------- */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

/*-----badge starts-----*/
.badge {
    border-radius: 50px;
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    background-color: #1818182e;
    width: fit-content;
    color:var(--text-white);
}

.badge span {
    padding: 0.125rem 0.5rem;
    background-color: #0c8c5e;
    border-radius: 50px;
    margin: 1px;
    font-size: 12px;
}
.badge p{
    font-size: 14px;
    font-weight: 600;
}
.badge svg {
    width: 1rem;
}

/*-----badge ends-----*/

/*------------- Main Heading starts-------------*/
.hero h1 {
  width: 100%;
  max-width: 43rem;
  font-size: 60px;
  text-align: center;
  color: var(--text-white);
  font-weight: 600;
  line-height: 1.15;
  text-wrap: balance;
  margin-top: 50px;
}
/*------------- Main Heading ends-------------*/

/*------------- Sub Heading starts-------------*/

.subheading {
    color: var(--bg-color);
    margin-top: 24px;
    font-size: 18px;
    text-wrap: balance;
    line-height: 1.5rem;
    max-width: 29.5rem;
    margin-inline: auto;
    width: 100%;
    text-align: center;
}


/*------------- Main Heading ends-------------*/




/* ----------Hero section ends----------- */